<div class="hero-unit">
    <h1>Sad Page :/</h1>
    <p>
        We should put some Twig in here :/ :/
    </p>

    <div class="sale-ends-at">
        Sale Ends: **someday**
    </div>
</div>

<div class="row">
    <div class="span4">
        <h2>Some product!</h2>
    
        <p class="price">100</p>

        <div class="product-img">
            <img src="../assets/images/formal.png" alt="Some product!"/>
        </div>
    </div>
</div>
